@font-face {
    font-family: 'Invasion';
    src: url("INVASION2000.TTF") format("truetype");
}

body {
    font-family: 'Invasion', serif;
    background-color: #1a1a1a;
}

h1 {
    color: white;
    font-size: 64px;
    padding: 300px 0;
    text-align: center;
}